<h1>Hi, Joko
</h1>
<p>we're ready to activate your email, click activate button below.</p>
<form action="/api/v1/auth/email-activation?token=<%=token%>" method="post">
    <div>
        <input type="submit" value="Activate">
    </div>
</form>