<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification Page</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header,
        nav,
        main,
        footer {
            margin: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>

    <header>
        <h1>Notifications</h1>
    </header>

    <nav>
        <!-- You can add a navigation menu here if needed -->
    </nav>

    <main>
        <section>
            <p id="userId"><%= user_id %></p>
            <h2>Notification List</h2>
            <ul id="notificationList">
                <% notifications.forEach(item=>{ %>
                    <li>
                        <b>
                            <%= item.title%>
                        </b>
                        <p>
                            <%= item.body%>
                        </p>
                    </li>
                    </br>
                    <% }) %>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 tatangdev. All rights reserved.</p>
    </footer>

    <!-- You can add additional scripts for handling notifications if needed -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io();
        let userId = document.getElementById("userId");
        let notifTopic = `user-${userId.textContent}`;
        console.log(notifTopic)
        let notificationList = document.getElementById("notificationList");

        socket.on(notifTopic, notif => {
            console.log("new notif")
            console.log(notif)
            let item = document.createElement('li');
            item.textContent = `<b>${notif.title}</b>
            <p>${notif.body}</p>`;
            notificationList.appendChild(item);
        })

    </script>
</body>

</html>