<h1>Create new post</h1>
<form action="/posts" method="POST">
    <label for="title">Title</label>
    <br>
    <input type="text" name="title" id="title">

    <br><br>
    <label for="body">Body</label>
    <br>
    <input type="text" name="body" id="body">

    <br><br>
    <button type="submit">Craete</button>
</form>