<h3>Login</h3>
<% if(messages.error){ %>
    <p style="color: red;">
        <%= messages.error %>
    </p>
    <% } %>
        <form action="/login" method="post">
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <br />
            <div>
                <input type="submit" value="Login">
            </div>
        </form>