<h3>Register</h3>
<form action="/register" method="post">
    <% if(messages){ %>
        <span>
            <%= messages %>
        </span>
        <% } %>
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <label for="password_confirmation">Password Confirmation</label>
                <input type="password" id="password_confirmation" name="password_confirmation" required>
            </div>
            <div>
                <input type="submit" value="Register">
            </div>
</form>